//-==============================
//-  Index page
//-==============================

extend ../layouts/_default
block body

	section.l-content
		.container
			.row
				.col-md-12
					p.
						Home page content111
			



